*{
    padding: 0;
    margin: 0;
    font-style: space;
    font-size: 30px;
}

.header{
    min-height: 20px;
    width:100%;
    text-decoration: none;
    padding: 50px;
}

nav{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    list-style: none;
    text-decoration: none;
}

.nav-links a{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
}

body{
    align-items: left;
}

.intro{
    display: flex;
    margin: 50px;
}


.helping{
    width: 50%;
}

.location{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 40px;

}

.works{
    display: flex;
    margin: 100px 50px;
    justify-content: space-between;
}

.box{
    border: 2px solid whitesmoke;
    width: 500px;
    height: 300px;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}
.why{
    display: flex;
    padding: 20px;
    margin: 50px;
    justify-content: space-between;
}

.choose{
    width: 50%;
}

.checked{
    display: flex;
    justify-content: space-between;
}

#sectionA{
    display: flex;
    padding: 20px;
    margin: 50px;
    justify-content: space-between;
}

.places{
    display: flex;
    justify-content: space-around;
}

.centred{
    text-align: center;
}

#sectionB{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.feedback{
    height: 300px;
    width: 500px;
    padding: 20px;
}

.feedback:hover{
    background-color: whitesmoke;
}


.footer{
    display: flex;
    background-color: #0F298B;
    padding: 50px;
    color: #FAFAFA;
    justify-content: space-between;
    height: 400px;
}




h1{
    font-style: italic;
    font-weight: bold;
}

h2{
    text-align: left;
    font-style: space;
    font-weight: bold;
    color: #2549D3;
}

h3{
    color: #2549D3;
    padding: 0 20px;
}


#view{
    text-align: right;
    margin: 50px;
}

button{
    color: white;
    background-color: #0F298B;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
