*{
    padding: 0;
    margin: 20px;
    font-style: space;
    font-size: 30px;
}

ul{
    text-align: left;
    display: block;
    list-style: none;
}
li{
    padding: 10px;
    text-align: left;
}

ol{
    display: flex;
    padding: 0 100px;
    list-style: none;
    text-align: right;
}

.header{
    min-height: 20px;
    width:100%;
    text-decoration: none;
}

nav{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    list-style: none;
    text-decoration: none;
}

.nav-links{
    flex: 1;
    text-align: justify;
    text-decoration: none;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
}

body{
    align-items: left;
}


#helping{
    display: flex;
    padding: 0;
    text-align: left;
}
.location{
    display: flex;
    padding: 0 100px;
}
#Works{
    display: flex;
    padding: 0;
    text-align: center;
    background-color: #FAFAFA;
    background-clip: border-box;
    box-shadow: 1em;
}


#why{
    display: flex;
    padding: 0 20px;
}


#sectionA{
    display: flex;
    padding: 0 20px;
    text-align: left;
}

.SouthAfrica{
    text-align: left;
}

#sectionB{
    display: flex;
    padding: 0 20px;
    text-align: left;
    text-align: left;
}


.footer{
    display: flex;
    text-align: left;
    background-color: #0F298B;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    color: #FAFAFA;
    width: 100%;
}




h1{
    font-style: italic;
    font-weight: bold;
}

h2{
    text-align: left;
    font-style: space;
    font-weight: bold;
    color: #2549D3;
}

h3{
    color: #2549D3;
    padding: 0 20px;
}

h4{
    text-align: center;
    color: #2549D3;
}

h5{
    text-align: center;
}

h6{
    text-align: left;
}

a{
    text-align: right;
}

.View{
    margin-left: 70%;
}